<h1>Edit photo</h1>

<form action="/photos/update_photo/<%= @photo.id %>">
<div>
  <label>Caption:</label>
    <input type="text" name="the_caption" value= "<%= @photo.caption %>">
</div>
<div>
  <label>Image URL:</label>
    <input type="text" name="the_source" value= "<%= @photo.source %>">
</div>
<div>
  <button>Edit Photo</button>
</div>

</form>
