<h1>Add A New Photo</h1>

<form class="" action="/create_photo" method="post">

  <label for="caption">Caption:</label>
  <input id="caption" type="text" name="caption" value="">

  <label for="source">Source:</label>
  <input id="caption" type="text" name="source" value="">

  <button type="button" name="button"><a href="/photos">Create Photo</a></button>
</form>
