<h1>Add a New Photo</h1>

<form action="/create_photo">
  <div>
    <label for="">Caption:</label>
    <input type="text" name="caption" placeholder="Enter caption here">
  </div>

  <div>
    <label for="">Image URL:</label>
    <input type="text" name="source" placeholder="Paste URL here">
  </div>

  <div>
    <button>Create Photo</button>
  </div>
</form>
