<h1>Add A New Photo</h1>
<form action="http://localhost:3000/create_photo">
<div>
<label for="caption">Caption:</label>
<input id="caption" type="text" name="the_caption">
</div>

<div>
<label for"url">Source:</label>
<input id="url" type="text" name="the_source">
</div>

<div>
<button>Create Photo</button>
</div>

</form>
