<h1>Add A New photo</h1>
<form action="/create_photo">
<div class="form-group">
      <label for="the_caption">Caption:</label>
    <input name="new_caption" id="the_caption">
  </div>
  <div class="form-group">
    <label for="URL">Image URL:</label>
    <input name="new_url" id="URL">
  </div>
    <button>Create Photo</button>

</form>
