<h1>Add a new photo</h1>



<form action="http://localhost:3000/new_form">
  <label for="">caption:</label>
  <input type="text" name="the_caption">

  <label for="">source:</label>
  <input type="text" name="the_source">
  <button>Add</button>
</form>



 <!-- Question: This is suppose to feed the url info, but what's wrong?
 Answer: Instead of refreshing, kill the instance of the page and start from index; or maybe
because of the value="" -->

<!-- Now we need to give it an action -->

<!-- <form>
  <label>caption:</label>
  <input type="text" name="the_caption">

  <label>source:</label>
  <input type="text" name="the_source" >
  <button>Add</button>
</form> -->

Question: I accidentally added the content without wrapping it in form and it still appeared would it have functioned without the wrapping?
<!-- Note: the name is the key designation for database storage, also the url output-->
<!-- <form>
  <label for="">caption:</label>
  <input type="text" name="" value="">

  <label for="">source:</label>
  <input type="text" name="" value="">
  <button type="button" name="button">Add</button>
</form> -->
