<h1>Add A New Photo</h1>

<form class="" action="http://localhost:3000/create_photo" method="post">

  <label for="caption">Caption:</label>
  <input type="text" name="caption" value="">

  <label for="source">Source:</label>
  <input type="text" name="source" value="">

  <button type="button" name="button"><a href="http://localhost:3000/create_photo">Create Photo</a></button>
</form>
